*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}
.heading{
    color: red;
    
}



.promise {
    margin: auto;
    text-align: center;
    padding: 20px;
}

.img1 {
    width: 300px;
    height: 300px;
}
.p1{
    color: white;
}
.p2 {
    color: white;
}
.p3 {
    color: white;
}
